<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Bullets Slider" lan="" version="1.0" date="2018-01-15" compatibility="2.0" installRequired="true" >
	<author name="e107" url="https://e107.org" />
	<summary lan="">Slider with bullets</summary>
	<description lan="">Animate bullet points on your e107 website.</description>
	<keywords>
		<word>generic</word>
		<word>carousel</word>
		<word>slider</word>
	</keywords>
	<category>content</category>
	<copyright></copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_32.png" iconSmall="images/icon_16.png" icon128="images/icon_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='visibility'>0</pref>
		<pref name='icon_pack'>fontawesome</pref>
		<pref name='slide_interval'>7000</pref>
	</pluginPrefs>
	<mediaCategories>
		<category type="image">Bullets Images</category>
	</mediaCategories>
</e107Plugin>